<phpunit
	colors="true"
	verbose="true">
	<testsuites>
		<testsuite name="altorouter">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
        <whitelist>
            <file>./AltoRouter.php</file>
        </whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>