<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/stylesheets/styles.css' | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="site-title"><a href="{{ '/' | relative_url }}">Altorouter</a></h1>
        <p>PHP5.3+ Routing Class. Supports REST, dynamic and reversed routing. </p>

        <p class="view"><a href="https://github.com/dannyvankooten/AltoRouter">View the Project on GitHub <small>dannyvankooten/AltoRouter</small></a></p>

        <a href="https://github.com/dannyvankooten/AltoRouter/zipball/master" rel="nofollow" class="btn"><i class="icon icon-download"></i> Download ZIP</a>
        <a href="https://github.com/dannyvankooten/AltoRouter" class="btn"><i class="icon icon-github"></i> View on GitHub</a>

      </header>
      <section>
         {{ content }}
      </section>
      <footer>
        <iframe src="{{ '/github-stars.html?user=dannyvankooten&amp;repo=altorouter&amp;type=watch&amp;count=true' | relative_url }}" allowtransparency="true" width="120px" height="20px" style="margin-bottom: 20px;"></iframe>
        <p>This project is maintained by <a href="https://github.com/dannyvankooten">dannyvankooten</a></p>
        <p><small>Hosted on GitHub Pages<br />Theme by <a rel="nofollow" href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
